<div class="header">
    <a href="/">Home</a>
    <% if (!locals.user) {%>
        <a href="sign-up">Sign Up</a>
        <a href="login">Login</a>
    <%}%>
    <% if (locals.user) {%>
        <a href="/log-out">Log out</a>
         <% if (locals.user && !locals.user.member) {%>
            <a href="/join">Become a member</a>
        <%}%>
        <% if (locals.user && locals.user.member) {%>
            <p>Member</p>
        <%}%>
    <%}%>
</div>